@charset "utf-8";

/* =======================
common
========================== */
:root {
    --primary-lightGray:#d9d9d9;
    --primary-green:#1A9B44;
    --primary-black:#333a3a;
    --primary-white:#fdfdfd;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 
        'noto Sans JP',
        Arial, 
        sans-serif;
    font-style: normal;
    color: var(--primary-black,#333a3a);
    background-color: var(--primary-lightGray);
    line-height: 1.5;
}

/* =======================
header
========================== */ 
.header {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 35px 0;
    align-items: center;
    gap: 15px;
}

.NexaHUB__icon {
    /* display: flex; */
    width: 240px;
    height: 70px;
    /* margin: 0 auto; */
}

.closebtn__whA {
    display: inline-block;
}

/* =======================
ハンバーガボタン
========================== */ 

/* =======================
lineUp
========================== */ 
.list__container {
    text-align: center;
}

.list__left {
    display: inline-block;
    text-align: left;
}

.list {
    padding: 30px;
}

.roboticone__wh {
    padding: 0 5px 5px 0;
}

.txt__enApp {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-white);
}

.txt__jaApp {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
    color: var(--primary-white);
}

.img__Appicone {
    margin-left: 5px;
}

.txt__en {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-white);
}

.txt__ja {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 10px;
}


