@charset "utf-8";

/* =======================
common
========================== */
:root {
   --primary-lightGray:#eee;
   --primary-green:#1A9B44;
   --primary-black:#333a3a;
   --primary-white:#fdfdfd;
   --primary-lightgreen:#DAF8D3;
   --contentWidth: 91.4%;
   --contentpadding: 4.2%;
}

/* いい感じのボックスシャドウ
box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4); */

html {
   font-size: 62.5%;
}

body {
   font-family: 
      'noto Sans JP',
      Arial, 
      sans-serif;
   font-style: normal;
   color: var(--primary-black,#333a3a);
   background-color: var(--primary-white,#fdfdfd);
   line-height: 1.5;
}

.header {
   width: 351px;
   height: 80px;
   background-color: var(--primary-white);
}

.NexaHUBiconWrap {
   display: flex;
   height: 100%;
   align-items: center;
}

.NexaHUBicon {
   width: 150px;
   height: 26px;
   display: block;
   margin: 0 auto;
   justify-content: center;  
   /* margin-right: 50px; */
}

.menuListWrap {
   padding: 20px;
}

.menuIconeRobot {
   width: 19px;
   height: 19px;
   margin-bottom: 7px;
   margin-right: 7px;
}

.menuList {
   color: var(--primary-black);
   font-size: 1.8rem;
   font-weight: 400;
   margin-top: 25px;
}

/* ページ全体は固定 */
/* ページ全体は固定 */
/* ページ全体は固定 */
body{
  margin:0;
  height:100vh;
  overflow:hidden;
  background:#eaeaea;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* スマホ枠 */
.phone{
   width:375px;
   height:812px; /* 好きなサイズ */
   background:#111;
   border-radius:40px;
   padding:12px;
   box-shadow:0 20px 40px rgba(0,0,0,.2);
   box-sizing: border-box;
}

/* 画面部分だけスクロール */
.screen{
   width:100%;
   height:100%;
   background:#fff;
   border-radius:28px;
   overflow-y:auto;
  -webkit-overflow-scrolling:touch; /* iOS風 */
   overflow-x: hidden;
}

/* =======================
mainvisual
========================== */
.mainImg__wrapper {
   position: relative;
}

.mainImg__wrapper .mainImg {
   display: block;
   width: 100%;
   height: auto;
}

.imgTypewritten-text {
   color: var(--primary-white);
   position: absolute;
   margin: 0 auto;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 100%; 
   max-width: 330px;
}

.Typewritten-text1{
   font-size: 1.6rem;
   font-weight: 700;
}

.Typewritten-text2 {
   font-size: 1.6rem;
   font-weight: 700;
   margin-top: 40px;
   white-space: nowarp;
}

.Typewritten-text3 {
   font-size: 2.4rem;
   font-weight: 700;
   margin-top: 60px;
   line-height: 2;
   font-family: Georgia, serif;
}

.mainImg {
   display: flex;
   margin: 0 auto;
   width: 100%; 
   max-width: 380px;
   position: relative;
} 

.mainVisual {  
   font-size: 1.4rem;
   padding: 60px 0;
   text-align: center;
}

.mainVisual__txt01 {
   width: 100%; 
}

.mainVisual__txt02 {
   margin-top: 30px;
   width: 100%; 
}

.video {
   width: 375px;
   height: 813px;
}

/* =======================
introduction
========================== */
.section__introduction {
   background-color: #eee;
   overflow: hidden;
}

.introduction {
   justify-content: center;
   display: flex;
   gap: 10px;
}

.introduction--green {
   display: flex;
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   align-items: flex-end;
   margin-top: 40px;
}

.introduction--ja {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.introduction__image {
   margin-top: 20px;
   width: 100px;
   height: 100px;
   border-radius: 10px;
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.introduction__txt {
   font-size: 1.2rem;
   color: var(--primary-white);
   background-color: var(--primary-black);
   opacity: 0.8;
   padding: 5px 10px;
   border-radius: 10px;
   margin-top: 10px;
   position: absolute;
   bottom: 5%;
   left: 5%;
   max-width: 330px;
   white-space: nowrap;
}

.introductionBtn__wrap {
   gap: 10px;
   margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 40px;
   justify-content: center;
   display: flex;
}

.introductionBtn {
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.1em;
   color: var(--primary-white);
   background-color: var(--primary-green);
   padding: 10px 10px;
   border-radius: 10px;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.5)
}

/* =======================
icon
========================== */


.fa-solid.fa-heart {
   font-size: 1.4rem;
}
.fa-regular.fa-heart {
   font-size: 1.4rem;
}

.fa-solid.fa-user  {
   font-size: 1.4rem;
   color: var(--primary-black);
}
.fa-solid.fa-user .WH  {
   font-size: 1.4rem;
   color: var(--primary-white);
}


/* 表示枠 */
.slider {
   overflow: hidden;
}

/* トラック */
.slider-track {
   display: flex;
  width: max-content;        /* ← 内容サイズにする */
   animation: scroll 60s linear infinite;
   margin-bottom: 20px;
}

/* カード */
.slide {
  width: 280px;              /* 好きなサイズ */
  flex: 0 0 auto;            /* ← 縮まない */
   position: relative;
   top: 0;
   left: 0;
}

/* 画像 */
.introduction__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

/* アニメーション */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* ← 2セットなので半分 */
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 22px;
  padding: 8px 12px;
  cursor: pointer;
}

.prev { left: 15px; }
.next { right: 15px; }

/* =======================
map
========================== */
.section__map {
   background-color: var(--primary-white);
   padding: 40px 0;
}

.map__title {
   margin: 0 auto;
}

.map--black {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-black);
   text-align: center;
}

.map--ja {
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   letter-spacing: 0.1em;
}

.floor {
   display: flex;
   justify-content: center;
   font-size: 2.4rem;
   font-weight: 700;
   gap: 50px;
   margin-top: 30px;
}

.f2,.f3 {
   color: var(--primary-lightGray);
}

.mapImg {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.mapImg__1f {
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   width: 320px;
   margin-bottom: 30px;
}

.detailLook {
   display: flex;
   justify-content: center;
}

.map__description {
   width: 100%; 
   max-width: 317px;
   border-radius: 10px;
   border: solid 2px var(--primary-lightGray);
   margin: 0 auto;
   margin-top: 15px;
}
.mapIconInner{
   display: flex;
}
.map__description--under {
   width: 100%; 
   max-width: 317px;
   border-radius: 10px;
   border: solid 2px var(--primary-lightGray);
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 20px;
}

.mapBtnWrap {
   display: flex;
   gap: 5px;
   justify-content: center;
   padding: 10px 0;
}

.reviewLook,.waitTimelook {
   color: var(--primary-white);
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.05em;
   background-color: var(--primary-green);
   border-radius: 10px;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4);
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 5px 12px;
}

.mapImg__VR {
   width: 105px;
   height: 105px;
   border-radius: 10px;
   margin-top: 13px;
   margin-left: 10px;
   object-fit: cover;
}

.mapImg__robot {
   width: 105px;
   height: 105px;
   border-radius: 10px;
   margin-top: 13px;
   margin-left: 10px;
}

.mapSquare {
   margin-top: 13px;
   margin-left: 10px;
}


.map__txt1 {
   font-size: 1.4rem;
   color: #FBA429;
}

.map__txt2 {
   font-size: 1.4rem;
   color: #E62280;
}

.map__txt1small {
   font-size: 1.2rem;
   color: var(--primary-black);
}

.map__txt2small {
   font-size: 1.2rem;
   color: var(--primary-black);
}

/* =======================
NexaHUBinformation
========================== */
.section__NexaHUBinformation {
   background-color: var(--primary-lightgreen);
   text-align: left;
   justify-content: center;
   padding-top: 40px;
}

.NexaHUBinformation__title {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.NexaHUBinformation__block {
   margin-bottom: 20px;
}

.NexaHUBinformation__subTitle {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 400;
   margin-left: 5px;
}

.NexaHUBinformation__txt {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txt1 {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txtSns {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.SNSblock {
   display: flex;
   justify-content: left;
   gap: 10px;
   animation: SNSblock 2s ease-out infinite;
   opacity: 1;
      margin-left: 40px;
}

@keyframes SNSblock {
   0%, 40%, 60%, 80% {
   transform: scale(1.0);
}

50%, 70% {
   transform: scale(0.95);
   }
}

.sns {
   width: 20px;
   height: 20px;
   margin: 10px 0 40px;
}

.copyrightArea {
   margin: 0 auto;
}

.footerLine {
   border-top: #a9a9a9 0.1px solid;
   margin-bottom: 15px;
}

.NexaHUBiconFooter {
   background-color: var(--primary-lightgreen);
   width: 110px;
   height: 19px;
   display: block;
   margin: 0 auto;
}

.copyright {
   font-size: 10px;
   color: var(--primary-black);
   text-align: center;
   margin-top: 3px;
   padding-bottom: 10px;
}
