@charset "utf-8";

/* =======================
common
========================== */
:root {
   --primary-lightGray:#eee;
   --primary-green:#1A9B44;
   --primary-black:#333a3a;
   --primary-white:#fdfdfd;
   --primary-lightgreen: #DAF8D3;

   --contentWidth: 91.4%;
   --contentpadding: 4.2%;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 
      'noto Sans JP',
      Arial, 
      sans-serif;
   font-style: normal;
   color: var(--primary-black,#333a3a);
   background-color: var(--primary-white,#fdfdfd);
   line-height: 1.5;
   /* font-size: 16px; */
}
.header {
   width: 351px;
   height: 80px;
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   background-color: var(--primary-lightgreen);
   box-shadow: 0px 5px 5px 0px rgba(144, 144, 144, 0.4);
   position: relative;
}

.NexaHUBicon {
   width: 150px;
   height: 26px;
}

/* ページ全体は固定 */
body{
  margin:0;
  height:100vh;
  overflow:hidden;
  background:#eaeaea;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* スマホ枠 */
.phone{
   width:375px;
   height:812px; /* 好きなサイズ */
   background:#111;
   border-radius:40px;
   padding:12px;
   box-shadow:0 20px 40px rgba(0,0,0,.2);
   box-sizing: border-box;
}

/* 画面部分だけスクロール */
.screen{
   width:100%;
   height:100%;
   background:#fff;
   border-radius:28px;
   overflow-y:auto;
  -webkit-overflow-scrolling:touch; /* iOS風 */
   overflow-x: hidden;
}

/* =======================
ticket/pass
========================== */

.section__ticketPass{
   background-color: var(--primary-lightGray);
   padding-top: 40px;
}

.ticketPass--gr {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.ticketPass--ja {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.ticket__box {
   display: flex;
   flex-direction: column;
   text-align: center;
}


/* .img__generalTxt {
   color: var(--primary-white);
   font-size: 1.8rem;
   font-weight: 700;
   white-space: nowrap;
   letter-spacing: 0.1em;
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
} */

.ticketPass__title {
   font-size: 1.6rem;
   font-weight: 700;
   color: var(--primary-green);
   letter-spacing: 0.2rem;
   background-color: var(--primary-lightgreen);
   width: 317px;
   margin: 0 auto;
   border-radius: 10px;
   padding: 10px 0;
   margin-top: 40px;

}

.general {
   width: 100%;  
   max-width: 317px;
   height: 94px; 
   border-radius: 10px;
   display: flex;
   margin: 0 auto;
   margin-top: 10px;
   padding: 10px;
   background-color: var(--primary-white);
   gap: 15px;
}

.icone__box {
   width: 73px;
   height: 73px;
   border-radius: 10px;
   overflow: hidden;
}

.icone__box-modifire {
   width: 73px;
   height: 73px;
   border-radius: 10px;
   overflow: hidden;
   border: var(--primary-lightGray) 2px solid;
}

.icone__contents {
   width: 100%;
}

.ticket__txtArea {
   display: block;
   padding: 5px;
}

.ticket__type {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
} 

.ticket__typeSub {
   font-size: 1.2rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
   margin-left: 5px;
}

.ticket__typeSub-modifiers {
   font-size: 1.1rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
}

.user {
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.1em;
   color: var(--primary-black);
   text-align: left;
}

.contentsWrap {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.price__fine {
   display: block;
   font-size: 1.6rem;
   color: var(--primary-black);
   font-weight: 400;
   text-align: left;
}

.price__bold {
   font-size: 2rem;
   font-weight: 700;
   margin-left: 5px;
   letter-spacing: 0.05em;
   color: var(--primary-black);
} 

.tax {
   font-size: 1.2rem;
   font-weight: 400;
   margin-left: 5px;
   letter-spacing: 0.05em;
   color: var(--primary-black);
}

.addtoCart__btn {
   display: block;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--primary-white);
   background-color: var(--primary-green);
   padding: 10px;
   margin: 40px 60px 60px;
   border-radius: 10px;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.5); 
}

/* =======================
NexaHUBinformation
========================== */
.section__NexaHUBinformation {
   background-color: var(--primary-lightgreen);
   text-align: left;
   justify-content: center;
   padding-top: 40px;
}

.NexaHUBinformation__title {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.NexaHUBinformation__block {
   margin-bottom: 20px;
}

.NexaHUBinformation__subTitle {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 400;
   margin-left: 5px;
}

.NexaHUBinformation__txt {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txt1 {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txtSns {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.SNSblock {
   display: flex;
   justify-content: left;
   gap: 10px;
   animation: SNSblock 2s ease-out infinite;
   opacity: 1;
      margin-left: 40px;
}

@keyframes SNSblock {
   0%, 40%, 60%, 80% {
   transform: scale(1.0);
}

50%, 70% {
   transform: scale(0.95);
   }
}

.sns {
   width: 20px;
   height: 20px;
   margin: 10px 0 40px;
}

.copyrightArea {
   margin: 0 auto;
}

.footerLine {
   border-top: #a9a9a9 0.1px solid;
   margin-bottom: 15px;
}

.NexaHUBiconFooter {
   background-color: var(--primary-lightgreen);
   width: 110px;
   height: 19px;
   display: block;
   margin: 0 auto;
}

.copyright {
   font-size: 10px;
   color: var(--primary-black);
   text-align: center;
   margin-top: 3px;
   padding-bottom: 10px;
}
